[MASTER]
load-plugins=pylint_odoo
init-hook='import sys; sys.path.extend([r"D:/Odoo19/server", r"D:/Odoo19/server/odoo/addons", r"D:/Odoo19/server/addons", r"D:/Odoo19/server/addons/Flight_School_Management"])'

[ODOOLINT]
valid-odoo-versions=19.0

[MESSAGES CONTROL]
disable=
    attribute-defined-outside-init,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    abstract-method,
    too-few-public-methods,
    invalid-name,
    attribute-string-redundant,
    broad-exception-caught,
    cell-var-from-loop,
    chained-comparison,
    consider-using-f-string,
    consider-using-max-builtin,
    deprecated-name-get,
    duplicate-code,
    except-pass,
    inheritable-method-lambda,
    inconsistent-return-statements,
    line-too-long,
    missing-return,
    mixed-line-endings,
    no-else-return,
    no-member,
    no-name-in-module,
    no-raise-unlink,
    no-wizard-in-models,
    odoo-addons-relative-import,
    prefer-env-translation,
    protected-access,
    redefined-outer-name,
    super-with-arguments,
    superfluous-parens,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-positional-arguments,
    too-many-return-statements,
    too-many-statements,
    translation-not-lazy,
    translation-required,
    unused-argument,
    unused-import,
    unused-variable

[FORMAT]
max-line-length=120
